<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="88d3aa">  <td>20/07/15 18:38:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VisatypeAndSubtypeTest.TC1_CHECK_EFFECTIVE_FROM_FIELD_ON_ADD_VISATYPE_PAGE()[pri:1, instance:aero.sita.pts.gsl.evisaadmin.ci.test.VisatypeAndSubtypeTest@5bf0d49]">TC1_CHECK_EFFECTIVE_FROM_FIELD_ON_ADD_VISATYPE_PAGE</td> 
  <td>main@1574598287</td>   <td></td> </tr>
<tr bgcolor="88d3aa">  <td>20/07/15 18:38:48</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VisatypeAndSubtypeTest.TC2_CHECK_EFFECTIVE_FROM_FIELD_ON_ADD_VISATYPE_PAGE()[pri:2, instance:aero.sita.pts.gsl.evisaadmin.ci.test.VisatypeAndSubtypeTest@5bf0d49]">TC2_CHECK_EFFECTIVE_FROM_FIELD_ON_ADD_VISATYPE_PAGE</td> 
  <td>main@1574598287</td>   <td></td> </tr>
<tr bgcolor="88d3aa">  <td>20/07/15 18:38:48</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VisatypeAndSubtypeTest.TC3_EFFECTIVE_FROM_FIELD_ON_UPDATE_VISA_TYPE_PAGE()[pri:3, instance:aero.sita.pts.gsl.evisaadmin.ci.test.VisatypeAndSubtypeTest@5bf0d49]">TC3_EFFECTIVE_FROM_FIELD_ON_UPDATE_VISA_TYPE_PAGE</td> 
  <td>main@1574598287</td>   <td></td> </tr>
<tr bgcolor="88d3aa">  <td>20/07/15 18:38:48</td>   <td>19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VisatypeAndSubtypeTest.TC4_EFFECTIVE_TO_FIELD_ON_UPDATE_VISA_TYPE_PAGE()[pri:4, instance:aero.sita.pts.gsl.evisaadmin.ci.test.VisatypeAndSubtypeTest@5bf0d49]">TC4_EFFECTIVE_TO_FIELD_ON_UPDATE_VISA_TYPE_PAGE</td> 
  <td>main@1574598287</td>   <td></td> </tr>
<tr bgcolor="88d3aa">  <td>20/07/15 18:38:48</td>   <td>80</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VisatypeAndSubtypeTest.TC5_SHOW_VISA_TYPE_PAGE_VERIFY_EFFECTIVE_FROM_FIELD()[pri:5, instance:aero.sita.pts.gsl.evisaadmin.ci.test.VisatypeAndSubtypeTest@5bf0d49]">TC5_SHOW_VISA_TYPE_PAGE_VERIFY_EFFECTIVE_FROM_FIELD</td> 
  <td>main@1574598287</td>   <td></td> </tr>
<tr bgcolor="88d3aa">  <td>20/07/15 18:38:48</td>   <td>98</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VisatypeAndSubtypeTest.TC6_SHOW_VISA_TYPE_PAGE_VERIFY_EFFECTIVE_TO_FIELD()[pri:6, instance:aero.sita.pts.gsl.evisaadmin.ci.test.VisatypeAndSubtypeTest@5bf0d49]">TC6_SHOW_VISA_TYPE_PAGE_VERIFY_EFFECTIVE_TO_FIELD</td> 
  <td>main@1574598287</td>   <td></td> </tr>
<tr bgcolor="88d3aa">  <td>20/07/15 18:38:48</td>   <td>116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VisatypeAndSubtypeTest.TC7_EFFECTIVE_FROM_FIELD_AFTER_VALIDATION_ON_UPDATE_VISA_TYPE()[pri:7, instance:aero.sita.pts.gsl.evisaadmin.ci.test.VisatypeAndSubtypeTest@5bf0d49]">TC7_EFFECTIVE_FROM_FIELD_AFTER_VALIDATION_ON_UPDATE_VISA_TYPE</td> 
  <td>main@1574598287</td>   <td></td> </tr>
<tr bgcolor="88d3aa">  <td>20/07/15 18:38:48</td>   <td>842</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VisatypeAndSubtypeTest.TC8_EFFECTIVE_TO_FIELD_AFTER_VALIDATION_ON_UPDATE_VISA_TYPE()[pri:8, instance:aero.sita.pts.gsl.evisaadmin.ci.test.VisatypeAndSubtypeTest@5bf0d49]">TC8_EFFECTIVE_TO_FIELD_AFTER_VALIDATION_ON_UPDATE_VISA_TYPE</td> 
  <td>main@1574598287</td>   <td></td> </tr>
<tr bgcolor="88d3aa">  <td>20/07/15 18:38:49</td>   <td>846</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VisatypeAndSubtypeTest.TC9_ARABIC_LOCALE_EFFECTIVE_TO_FIELD_VERIFICATION()[pri:9, instance:aero.sita.pts.gsl.evisaadmin.ci.test.VisatypeAndSubtypeTest@5bf0d49]">TC9_ARABIC_LOCALE_EFFECTIVE_TO_FIELD_VERIFICATION</td> 
  <td>main@1574598287</td>   <td></td> </tr>
<tr bgcolor="88d3aa">  <td>20/07/15 18:38:46</td>   <td>-1527</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VisatypeAndSubtypeTest.setUp()[pri:0, instance:aero.sita.pts.gsl.evisaadmin.ci.test.VisatypeAndSubtypeTest@5bf0d49]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1574598287</td>   <td></td> </tr>
</table>
