<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>aero.sita.pts.gsl.evisaadmin.ci.test.VisatypeAndSubtypeTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC8_EFFECTIVE_TO_FIELD_AFTER_VALIDATION_ON_UPDATE_VISA_TYPE</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC9_ARABIC_LOCALE_EFFECTIVE_TO_FIELD_VERIFICATION</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC2_CHECK_EFFECTIVE_FROM_FIELD_ON_ADD_VISATYPE_PAGE</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC7_EFFECTIVE_FROM_FIELD_AFTER_VALIDATION_ON_UPDATE_VISA_TYPE</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC4_EFFECTIVE_TO_FIELD_ON_UPDATE_VISA_TYPE_PAGE</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC3_EFFECTIVE_FROM_FIELD_ON_UPDATE_VISA_TYPE_PAGE</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC6_SHOW_VISA_TYPE_PAGE_VERIFY_EFFECTIVE_TO_FIELD</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC1_CHECK_EFFECTIVE_FROM_FIELD_ON_ADD_VISATYPE_PAGE</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC5_SHOW_VISA_TYPE_PAGE_VERIFY_EFFECTIVE_FROM_FIELD</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>startTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMyTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>endTest</td>
<td>&nbsp;</td></tr>
</table>
